/* /src/components/layout/Navigation.module.css */

/* base styles */
.soc {
  width: 100vw;
  padding: 0;
  svg {
    transition: color 0.3s ease;
    color: var(--color-secondary);
  }

  svg:hover,
  svg:active {
    color: var(--color-trinary);
  }
}

.nav {
  width: 100vw;
  padding: 1em 0 1em 0;
}

.nav ul,
.soc ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.nav a,
.soc a,
.navIndex a {
  text-decoration: none;
}

.activeLink {
  color: var(--color-primary);
  font-weight: bold;

  /* for button version */
  background: none;
  border: none;
  padding: 0;
  cursor: default;
  font: inherit;
}

/* mobile styling */
.navIndex {
  ul {
    padding: 0px 3em 0 3em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5em;

    /* layout for icons */
    li:nth-child(odd) {
      align-self: flex-start;
    }
    li:nth-child(even) {
      align-self: flex-end;
    }
  }

  /* desktop styling */
  @media (min-width: 768px) {
    inset: 0;
    ul {
      padding: 0;
      width: 100lvw;
      min-height: 0;
      justify-items: center;
      gap: 0 0;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
    }

    li:nth-child(1) {
      /* logo */
      grid-column-start: 3;
      grid-row-start: 1;
    }
    li:nth-child(2) {
      /* about */
      grid-column-start: 4;
      grid-row-start: 2;
    }

    li:nth-child(3) {
      /* fiber */
      grid-column-start: 2;
      grid-row-start: 2;
    }

    li:nth-child(4) {
      /* contact */
      grid-column-start: 5;
      grid-row-start: 3;
    }

    li:nth-child(5) {
      /* visual */
      grid-column-start: 1;
      grid-row-start: 3;
    }

    li:nth-child(6) {
      /* blog */
      grid-column-start: 3;
      grid-row-start: 3;
    }
  }
}
