/* /src/app/Layout.module.css */
.wrapper,
html {
  overflow-x: clip;
  @media (min-width: 768px) {
    overflow: clip;
  }
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
